{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

<!-- feedback/templates/feedback/feedback_dashboard.html -->

{% block head_title %}{% trans "Student Feedback" %} - {% trans "Event Dashboard" %}{% endblock %}

{% block extra_style %}
<link rel="stylesheet" href="{% static "vue_apps/src/assets/index.css" %}">
<link rel="stylesheet" href="{% static "commons/css/commons_vue.css" %}">

<style lang="css">
.vue-tag-cloud {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  line-height: normal;
  width: 80%; /* 50%; */
  display: inline-block;
  position: relative;
  height: 20em; /* 30em; */
  overflow: hidden;
  color: #09f;
}
.vue-tag-cloud a {
  font-size: inherit;
  text-decoration: none;
}
.vue-tag-cloud span { padding: 0; }
.vue-tag-cloud span.w10 {
  font-size: 550%;
  color: #0cf;
}
.vue-tag-cloud span.w9 {
  font-size: 500%;
  color: #0cf;
}
.vue-tag-cloud span.w8 {
  font-size: 450%;
  color: #0cf;
}
.vue-tag-cloud span.w7 {
  font-size: 400%;
  color: #39d;
}
.vue-tag-cloud span.w6 {
  font-size: 350%;
  color: #90c5f0;
}
.vue-tag-cloud span.w5 {
  font-size: 300%;
  color: #90a0dd;
}
.vue-tag-cloud span.w4 {
  font-size: 250%;
  color: #90c5f0;
}
.vue-tag-cloud span.w3 {
  font-size: 200%;
  color: #a0ddff;
}
.vue-tag-cloud span.w2 {
  font-size: 150%;
  color: #99ccee;
}
.vue-tag-cloud span.w1 {
  font-size: 100%;
  color: #aab5f0;
}
.vue-tag-cloud span.last {
  color:red !important;
}
.vue-tag-cloud a { color: inherit; }
.vue-tag-cloud a:hover { color: #0df; }
.vue-tag-cloud a:hover { color: #0cf; }
</style>
{% endblock extra_style %}

{% block extra_head %}
  <script src='https://unpkg.com/vue@2.2.6'></script>
<!--   <script src="https://unpkg.com/vuewordcloud"></script> -->
{% endblock extra_head %}

{% block nav_vue %}
  {% include "_header_bar.html" %}
  <div class="navbar">
    <h3 class="text-center">{% trans "Student Feedback App" %} - {% trans "Event Dashboard" %}
      <br><span style="font-size: smaller;">
        {% trans "project"|capfirst %}: {{ project_name }}</i> -
        {% trans "event"|capfirst %}: <i>{% if export_url %}<a href="{{ export_url }}">{{ event_title }}</a>
        							     {% else %}{{ event_title }}{% endif %}</i><br>
        {% if start_date and end_date %} 
    	        {% trans "time"|capfirst %}: <i>{{ start_date }}</i> - <i>{{ end_date }}</i>
        {% endif %}
        {% if not_running %}
        	(<span style="color: red;">{% trans "event not running" %}</span>)
        {% endif %}
        </span></h3>
  </div>
{% endblock nav_vue %}

{% block body_base %}
  <div class="container-fluid">
    <div id="app" class='components-container'>
{% verbatim %}
    <template v-if="error===null">
    <div style="float: left; width: 50%;">
      <div><label>{{ label_word_cloud }}</label></div>
      <template lang="html">
        <div>
         <div id='vue-tag-cloud' class='vue-tag-cloud'></div>
        </div>
      </template>
    </div>
    <div style="float: left; width: 50%;">
      <div><label>{{ label_messages_log }}</label></div>
      <div><textarea id="reaction-log" cols="60" rows="13" style="width: 100%;" readonly></textarea></div>
    </div>
    <div style="float: left; width: 100%; height: 30%;">
      <div><label>{{ label_chat }}</label></div>
      <div><textarea id="chat-log" cols="120" rows="4" style="width: 100%;" readonly></textarea></div>
      <div><input id="chat-message-input" type="text" cols="120" rows="1" style="width: 100%;" :placeholder="label_placeholder"></input>
           <input id="chat-message-submit" type="button" style="display: none;" value="Enter"></div>
    </div>
    </template>
{% endverbatim %}
    </div>
  </div>
{% endblock %}

{% block script_base %}
<script>
function compare_by_weight(a, b) {
  // return b.weight - a.weigth;
  if ( a['weight'] > b['weight'] )
    return -1;
  if ( a['weight'] < b['weight'] )
    return 1;
  return 0;
}

const WEIGHTS_LENGTH = 8;
var app = new Vue({
  props: {
    data: {
      type: Array
    }
  },
  watch: {},
  data: {
    error: null,
    event_code: '{{ event_code }}',
	word_array: {{ word_array|safe }},
    decay_factor: 5,
    timer: 0,
    last_word: null,
    label_word_cloud: "{% trans "verb cloud"|capfirst %}",
    label_messages_log: "{% trans "student reaction log"|capfirst %}",
    label_chat: "{% trans "chat"|capfirst %}",
    label_placeholder: "{% trans "type a message and hit 'enter' key" %}",
    cloud_namespace: Math.floor(Math.random() * 1000000).toString(36),
    options: {
      width: "400",
      height: "200",
      center: {
        x: 400 / 2.0,
        y: 200 / 2.0
      },
      shape: false,
      removeOverflowing: false,
      weights: 0
    },
    already_placed_words: []
  },
  el: '#app',
  mounted() {
    this.redraw_words();
    this.timer = setInterval(() => {
      this.decay();
    }, 10000);
  },
  methods: {
    addWord(word) {
      this.word_array.forEach(
          function(elem, index) {
            if (elem['word'] === word) {
              elem['weight'] += 0.5;
              elem['last'] = true;
            } else elem['last'] = false;
          });
      this.redraw_words();
    },
    decay() {
      this.word_array.forEach(
          function(elem, index) {
            var over = elem['weight'] - 1;
            if (over > 0.2)
				elem['weight'] -= over/app.decay_factor;
			else
				elem['weight'] = 1;
          });
      this.redraw_words();
	},
    redraw_words() {
      document.getElementById("vue-tag-cloud").innerHTML = '';
      this.already_placed_words = [];
      this.word_array.sort(compare_by_weight);
      this.word_array.forEach(
        function(elem, index) {
          this.drawOneWord(index, elem);
        }.bind(this)
      );
    },
    hitTest(elem, other_elems) {
      // Pairwise overlap detection
      var overlapping = function(a, b) {
        if (
          Math.abs(
            2.0 * a.offsetLeft +
              a.offsetWidth -
              2.0 * b.offsetLeft -
              b.offsetWidth
          ) <
          a.offsetWidth + b.offsetWidth
        ) {
          if (
            Math.abs(
              2.0 * a.offsetTop +
                a.offsetHeight -
                2.0 * b.offsetTop -
                b.offsetHeight
            ) <
            a.offsetHeight + b.offsetHeight
          ) {
            return true;
          }
        }
        return false;
      };
      var i = 0;
      // Check elements for overlap one by one, stop and return false as soon as an overlap is found
      for (i = 0; i < other_elems.length; i++) {
        if (overlapping(elem, other_elems[i])) {
          return true;
        }
      }
      return false;
    },
    drawOneWord(index, word) {
      // Define the ID attribute of the span that will wrap the word, and the associated jQuery selector string
      var word_id = this.cloud_namespace + "_word_" + index,
        word_selector = "#" + word_id,
        angle = 6.28 * Math.random(),
        radius = 0.0,
        // Only used if option.shape == 'rectangular'
        steps_in_direction = 0.0,
        quarter_turns = 0.0,
        weight = 5,
        custom_class = "",
        inner_html = "",
        word_span;
      // Check if min(weight) > max(weight) otherwise use default
      if (
        this.word_array[0].weight >
        this.word_array[this.word_array.length - 1].weight
      ) {
        // Linearly map the original weight to a discrete scale from 1 to 10
        weight =
          Math.round(
            (word.weight - this.word_array[this.word_array.length - 1].weight) /
              (this.word_array[0].weight -
                this.word_array[this.word_array.length - 1].weight) *
              (WEIGHTS_LENGTH - 1)
          ) + 1;
      }
      // Create a new span and insert node.
      word_span = document.createElement("span");
      word_span.className = "w" + weight;
      if (word.last)
        word_span.className += ' last';
      var textNode = document.createTextNode(word.word);
      word_span.appendChild(textNode);
      if(typeof word.link !== 'undefined'){
      	// Create a link
        var word_link = document.createElement("a");
        word_link.setAttribute('href', word.link);
        word_link.appendChild(word_span)
        document.getElementById("vue-tag-cloud").appendChild(word_link);
      } else {
        //Normal creation
        document.getElementById("vue-tag-cloud").appendChild(word_span);
      }
      if (this.options.weights) {
        word_span.style.fontSize = this.options.weights[weight - 1];
      }
      var width = word_span.offsetWidth,
        height = word_span.offsetHeight,
        left = this.options.center.x - width / 2.0,
        top = this.options.center.y - height / 2.0;
      var word_style = word_span.style;
      word_style.position = "absolute";
      word_style.left = left + "px";
      word_style.top = top + "px";
      var step = this.options.shape === "rectangular" ? 18.0 : 2.0,
        aspect_ratio = this.options.width / this.options.height;
      //Check if tag are hitting each other
      while (this.hitTest(word_span, this.already_placed_words)) {
        // Default settings: elliptic spiral shape
        radius += step;
        angle += (index % 2 === 0 ? 1 : -1) * step;
        left =
          this.options.center.x -
          width / 2.0 +
          radius * Math.cos(angle) * aspect_ratio;
        top = this.options.center.y + radius * Math.sin(angle) - height / 2.0;
        word_style.left = left + "px";
        word_style.top = top + "px";
      }
      // Don't render word if part of it would be outside the container
      if (
        this.options.removeOverflowing &&
        (left < 0 ||
          top < 0 ||
          left + width > options.width ||
          top + height > options.height)
      ) {
        word_span.remove();
        return;
      }
      this.already_placed_words.push(word_span);
    }
  }
});
</script>

<script>
	/* WEB SOCKET FOR EVENT-RELATED REACTIONS */
    if (window.location.protocol == 'https:') {
      wsProtocol = 'wss://'
    } else {
      wsProtocol = 'ws://'
    }
    reactionSocket = new WebSocket(wsProtocol + window.location.host + '/ws/reaction/{{ event_name }}/');
    reactionSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        message = data.message;
        textarea = document.querySelector('#reaction-log');
        textarea.value += (message + '\n');
        textarea.scrollTop = textarea.scrollHeight;
        verb = data.verb;
        app.addWord(verb);
    };
    reactionSocket.onclose = function(e) {
        console.error('Event socket closed unexpectedly');
    };

  	/* WEB SOCKET FOR EVENT-RELATED CHAT */
    if (window.location.protocol == 'https:') {
      wsProtocol = 'wss://'
    } else {
      wsProtocol = 'ws://'
    }
    chatSocket = new WebSocket(wsProtocol + window.location.host + '/ws/chat/{{ event_name }}/');
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        message = data.message;
        textarea = document.querySelector('#chat-log');
        textarea.value += (message + '\n');
        textarea.scrollTop = textarea.scrollHeight;
    };
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
/*>
        chatSocket.send(JSON.stringify({
            'message': message,
            'user_name': '{{ user_name }}'
        }));
*/
		var data = {event_code: '{{ event_code }}', message: message};
	    fetch('/feedback/chat/', {
	      method: 'POST',
	      headers: { "Content-Type": "application/json", "X-Requested-With": "XMLHttpRequest" },
	      body: JSON.stringify(data)
	   	})
	    .then(response => response.json())
	    .then(data => {
			console.log(data);
			if (!(data['warning'] === undefined))
				console.log(data['warning']);
	    })
	    .catch(err => (console.log(err)))
/*>*/
        messageInputDom.value = '';
    };
</script>
{% endblock script_base %}

{% block footer_base %}{% endblock footer_base %}
